name: Test Suite

on:
  workflow_call:
    inputs:
      workspace:
        type: string
        required: false
        default: SwiftyVK.xcworkspace
      ios-scheme:
        type: string
        required: false
        default: SwiftyVK_iOS
      ios-destination:
        type: string
        required: false
        default: platform=iOS Simulator,name=iPhone 15 Pro
      macos-scheme:
        type: string
        required: false
        default: SwiftyVK_macOS
      upload-coverage:
        required: false
        type: boolean
        default: false

jobs:
  ios:
    name: iOS Tests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install xcpretty
        run: gem install xcpretty --no-document

      - name: Build & Test
        run: |
          set -o pipefail
          xcodebuild \
            -workspace "${{ inputs.workspace }}" \
            -scheme "${{ inputs.ios-scheme }}" \
            -destination "${{ inputs.ios-destination }}" \
            -enableCodeCoverage YES \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_IDENTITY="" \
            test | xcpretty

      - name: Upload coverage to Codecov
        if: success() && inputs.upload-coverage == true
        run: bash <(curl -s https://codecov.io/bash)

  macos:
    name: macOS Tests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install xcpretty
        run: gem install xcpretty --no-document

      - name: Build & Test
        run: |
          set -o pipefail
          xcodebuild \
            -workspace "${{ inputs.workspace }}" \
            -scheme "${{ inputs.macos-scheme }}" \
            -enableCodeCoverage YES \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_IDENTITY="" \
            ENABLE_TESTABILITY=YES \
            test | xcpretty

      - name: Upload coverage to Codecov
        if: success() && inputs.upload-coverage == true
        run: bash <(curl -s https://codecov.io/bash)
