name: Test Suite

on:
  workflow_call:

jobs:
  tests:
    runs-on: macos-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - platform: iOS
            scheme: SwiftyVK_iOS
            destination: platform=iOS Simulator,OS=latest,name=iPhone 16
            build-settings: CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY=
          - platform: macOS
            scheme: SwiftyVK_macOS
            destination: platform=macOS
            build-settings: CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= ENABLE_TESTABILITY=YES
    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.x'

      - name: Build & Test
        uses: sersoft-gmbh/xcodebuild-action@v3.2.0
        with:
          workspace: SwiftyVK.xcworkspace
          scheme: ${{ matrix.scheme }}
          destination: ${{ matrix.destination }}
          derived-data-path: ${{ format('DerivedData/{0}', matrix.platform) }}
          action: test
          enable-code-coverage: true
          build-settings: ${{ matrix.build-settings }}
          output-formatter: ''

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          flags: ${{ matrix.platform }}
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ${{ format('DerivedData/{0}', matrix.platform) }}
          plugins: xcode
